nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    position: fixed;
    width: 100%;
    background: white;
    margin: 0px;
    height:50px
    }
    body {
        margin-top: 80px;
    }
.saludo {
        background: yellow;
        padding: 50px;
        position: fixed;
        top: 100px;
    }
.bolas {
    display: grid;
    justify-content: space-around;
}
.roja {
    position:relative;
    top: 200px; left: 100px;
}
.verde {
    position:absolute;
    right: 325px;
}
.marron {
    position:fixed;
    top:250px;
}
.negra {
    position:static;
}
.azul {
position:sticky;
top: 55px; 
right: 55px;
}
.lorem{font-size: 25px;}
.p1 {
    background:rgb(43, 13, 134)
}
.p2 {
    background:green
}
.p3 {
    background:rgb(117, 0, 128)
}
.p4 {
    background:rgb(195, 64, 16);
    font-size: 16px;
}
.div1 {
    display: flex;
    justify-content: center;
    align-items: stretch;
}
  .pruebagrid {
    display: grid;
    justify-content: center;
    justify-items: center;
    background:red;
}
.diplayno {
    display: none;
}
.hidden {
    visibility: hidden;
}
.opacity {
    background:blue;
    opacity: 0.5;
    }
.doscolumnas {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }