/*esto es un comentario, si no lo cierras te lo cargas todo*/
nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background: white;
    margin: 0px;
    /*Aquí si querías poner un margen top, el selector es masrgin-top, no solo top*/
    top: 15;
    height:50px
    }
body {
    margin-top: 80px;
}
.cm {
    background: brown;
    width: 4cm;
    height: 4cm;
    text-align: center;
    line-height: 3.5cm;
}
.mm {
    background: rgb(108, 158, 33);
    width: 50mm;
    height: 50mm;
    text-align: right;
    padding: 15mm;
    color:azure
}
.pg {
    background: rgb(155, 57, 153);
    width: 3in;
    height: 3in;
    text-align: left;
    font-size: 15;
    color:rgb(255, 255, 255)
}
.px {
    background: rgb(42, 42, 165);
    width: 400px;
    height: 400px;
    text-align: left;
    padding: 350px;
    line-height: 35px;
    color:green;
    font-size: 150px;
}
.pt {
    background: rgb(54, 33, 158);
    width: 100pt;
    height: 100pt;
    font-size: 20pt;
    text-align: center;
    filter:blur(3pt);
}
.pc {
    background: rgb(171, 210, 31);
    width: 40pc;
    color:black;
    height: 45pc;
    text-align: center;
    line-height: 50pc;
}
.desastre {
    display: flex;
    flex-wrap: wrap;
}
.rm {
    background: blueviolet;
    width: 23rem;
    height: 23rem;
}
.em {
    background: bisque;
    width: 22em;
    height: 23em;
}
.rem {
    background: rgb(50, 20, 94);
    width: 22rem;
    height: 23rem;
}
.fuentes {
    font-size: 23px;
}
.vh {
    background: brown;
    width: 50vh;
    font-size: 15px;
}
.vw {
    background: rgb(34, 109, 141);
    color:black;
    width: 60vw;
    height: 25vw;
    font-size: 12px;
}
.porcentaje {
    background: burlywood;
    width: 50%;
    height: 50%;
}
p.listado {
    font-size: 14px;
    font-family: cursive;
}
.css1{
    background: green;
    }
    .volador {
    background: cadetblue;
    }
    .jaguar.cocodrilo{
        font-weight: bold;
        font-family:Tahoma
    }
    p {
        font-size: 32px;
    }
    #ejemplo {
        background: chartreuse;
    }
    div, p {
        font-size: 15px;
    }
    