nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    position: fixed;
    width: 100%;
    background: rgb(4, 246, 113);
    margin: 0px;
    z-index:10;
    opacity:0.5;
    padding:30px;
    }
    body {
        margin-top: 80px;
    }
.saludo {
        background: yellow;
        padding: 50px;
        position: fixed;
        top: 100px;
    }
.bolas {
    display: grid;
    justify-content: space-around;
}
.roja {
    position:relative;
    top: 200px; left: 100px;
}
.verde {
    position:absolute;
    right: 325px;
}
.marron {
    position:fixed;
    top:250px;
}
.negra {
    position:static;
}
.azul {
position:sticky;
top: 55px; 
right: 55px;
}
.lorem{font-size: 25px;}
.p1 {
    background:rgb(43, 13, 134)
}
.p2 {
    background:green
}
.p3 {
    background:rgb(117, 0, 128)
}
.p4 {
    background:rgb(195, 64, 16);
    font-size: 16px;
}
.div1 {
    display: flex;
    justify-content: center;
    align-items: stretch;
}
  .pruebagrid {
    display: grid;
    justify-content: center;
    justify-items: center;
    background:red;
}
.diplayno {
    display: none;
}
.hidden {
    visibility: hidden;
}
.opacity {
    background:blue;
    opacity: 0.5;
    }
.doscolumnas {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
.cerrarelemento {
        position: fixed;
        right: 16px;
        background: red;
        padding: 12px;
        border-radius: 100%;
        font-weight: 800;
        cursor: grab;
        color: white;
        z-index:9;
    }
    .texto {
font-size:25px;
}
.imagenfalsa {
    height: 671;
    width: 970;
    background-color: red;
    background-image: url(/imagenes/pingus.jpg);
    margin: 82px auto;
    padding: 80px;
    background-attachment: inherit;
    background-size: 179px 119px;
    background-repeat: inherit;
}
.gorilas {
    background-image: url(/imagenes/gorila.jpg);
    background-size: 5em;
    height: 64px;
    background-repeat: no-repeat;
    padding-left: 6.2em;
    background-position-y: center;
}
[alt] {
    border: 40px solid green;
}
[title] {
    border: 10px solid black;
}
a[href^="http:"] {
    padding-right: 2em;
    background-image: url(/imagenes/gorila.jpg);
    z-index: 3;
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: right;
    color: red;
}
p:first-child {
    background: grey;
}
p:first-letter {
    color: yellow;
}
::selection {
    background: hotpink;
    color: white;
}
::-webkit-scrollbar {
    width: 15px;
  }
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 8px;
  }
    ::-webkit-scrollbar-thumb {
    background: rgb(28, 24, 24);
    border-radius: 10px;}