nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background: white;
    margin: 0px;
    top: 15;
    height:50px
    }
body {
    margin-top: 80px;
}