# Faltaba el rewriteengine on
RewriteEngine On
# Redirigir a la versión móvil si se accede desde un dispositivo móvil
RewriteCond %{HTTP_USER_AGENT} "android.*mobile|blackberry|ipad|iphone|ipod|iemobile|opera mobile|palmos|webos|googlebot-mobile" [NC]
RewriteCond %{REQUEST_URI} !^/devices/movil/ [NC]
RewriteRule ^(.*)$ /devices/movil/$1 [L]

# Redirigir a la versión de tablet si se accede desde una tablet
RewriteCond %{HTTP_USER_AGENT} "android(?!.+mobile)|ipad|tablet|kindle|playbook|silk" [NC]
RewriteCond %{REQUEST_URI} !^/devices/tablet/ [NC]
RewriteRule ^(.*)$ /devices/tablet/$1 [L]
